<ng-template #pageTpl>
  <wui-page>
    <div class="wui-page-content" wuiScrollbar>
      <div class="wui-container wui-py-5">
        <h1 class="wui-headline-medium wui-m-0 wui-mb-5">Data Table</h1>

        <div class="wui-flex wui-justify-content-between wui-mb-4">
          <button wuiButton color="primary">
            <wui-icon icon="plus"/> Baru
          </button>

          <div class="wui-flex wui-align-items-center wui-gap-col-3">
            <wui-form-field dense variant="filled">
              <label wuiLabel>Kata kunci</label>
              <input type="text" wuiInput placeholder="Cari...">
            </wui-form-field>

            <button wuiButton>
              <wui-icon icon="refresh"/> Refresh
            </button>
          </div>
        </div>

        <div class="wui-edge-fix-4">
          <table wuiTable alternate hover>
            <thead>
              <tr>
                <th width="20%">NAME</th>
                <th width="10%">GROUP</th>
                <th width="10%" class="wui-text-end">AMOUNT</th>
                <th>STORY</th>
                <th class="wui-text-end">STATUS</th>
              </tr>
            </thead>

            <tbody>
              @for(row of sampleData; track row.id) {
                <tr>
                  <td>
                    <div class="wui-flex wui-align-items-center wui-gap-col-4">
                      <wui-icon icon="account-circle"/>
                      <div class="flex-grow-1">{{row.name}}</div>
                    </div>
                  </td>
                  <td>{{row.group}}</td>
                  <td class="wui-text-end">{{row.amount | number: '1.0-2'}}</td>
                  <td>
                    <div class="wui-text-truncate wui-text-clamp-2">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1966, when designers at Letraset and James Mosley, the librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word including versions of Lorem Ipsum.
                    </div>
                  </td>
                  <td class="wui-text-end">
                    @switch(row.status) {
                      @case ('Aktif') {
                        <span wuiBadge color="primary">AKTIF</span>
                      }
                      @case ('Tertunda') {
                        <span wuiBadge color="default">TERTUNDA</span>
                      }
                      @case ('Selesai') {
                        <span wuiBadge color="secondary">SELESAI</span>
                      }
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </wui-page>
</ng-template>
