<ng-template #pageTpl>
  <wui-page>
    <div wuiPageContent wuiScrollbar>
      <div wuiContainer class="wui-py-5">
        <h1 class="wui-headline-medium--em wui-mb-4">Tombol</h1>

        <div class="wui-mb-4">
          <p>Tombol ditempelkan langsung ke tag HTML native <code class="wui-code-inline">&lt;button&gt;</code> dan <code class="wui-code-inline">&lt;a&gt;</code></p>
        </div>

        <h2 class="wui-title-large--em wui-mb-4">Showcase</h2>

        <div class="wui-edge-fix-4 wui-mb-4">
          <table wuiTable>
            <tbody>
              <tr>
                <td width="150">Filled</td>
                <td>
                  <div class="wui-grid-inline wui-grid-col-3 wui-gap-col-3">
                    <button wuiButton>Button</button>
                    <button wuiButton disabled>Disabled</button>
                    <a wuiButton href="https://wajek.id/" target="_blank">Link</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td width="150">Outline</td>
                <td>
                  <div class="wui-grid-inline wui-grid-col-3 wui-gap-col-3">
                    <button wuiButton variant="outlined">Button</button>
                    <button wuiButton variant="outlined" disabled>Disabled</button>
                    <a wuiButton variant="outlined" href="https://wajek.id/" target="_blank">Link</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td width="150">Text</td>
                <td>
                  <div class="wui-grid-inline wui-grid-col-3 wui-gap-col-3">
                    <button wuiButton variant="text">Button</button>
                    <button wuiButton variant="text" disabled>Disabled</button>
                    <a wuiButton variant="text" href="https://wajek.id/" target="_blank">Link</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td width="150">Icon</td>
                <td>
                  <div class="wui-grid-inline wui-grid-col-3 wui-gap-col-3">
                    <button wuiButton variant="text" iconOnly>
                      <wui-icon icon="home"></wui-icon>
                    </button>
                    <button wuiButton variant="text" disabled iconOnly>
                      <wui-icon icon="home"></wui-icon>
                    </button>
                    <a wuiButton variant="text" href="https://wajek.id/" target="_blank" iconOnly>
                      <wui-icon icon="home"></wui-icon>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2 class="wui-title-large--em wui-mb-4">Usage</h2>

        <div class="wui-mb-5">
          <app-showcase 
          [defaultShowCode]="true"
          [tabs]="[{
            label: 'Typescript',
            code: '/examples/button-simple.example.ts',
            language: 'typescript'
          }]">
            <button-simple-example/>
          </app-showcase>
        </div>

        <h2 class="wui-title-large--em wui-mb-4">Modifier</h2>

        <div class="wui-edge-fix-4">
          <table wuiTable>
            <thead>
              <tr>
                <th>Properti</th>
                <th>Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>variant</code></td>
                <td>Mengatur bentuk tombol. Nilai: <code>filled</code>, <code>text</code>, <code>outlined</code></td>
              </tr>
              <tr>
                <td><code>size</code></td>
                <td>Mengatur ukuran tombol. Nilai: <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>.</td>
              </tr>
              <tr>
                <td><code>color</code></td>
                <td>Mengatur warna tombol. Nilai: <code>default</code>, <code>primary</code>, <code>error</code>.</td>
              </tr>
              <tr>
                <td><code>size</code></td>
                <td>Mengatur posisi icon di dalam tombol. Nilai: <code>start</code>, <code>end</code>.</td>
              </tr>
              <tr>
                <td><code>iconPos</code></td>
                <td>Mengatur posisi icon di dalam tombol. Nilai: <code>start</code>, <code>end</code>.</td>
              </tr>
              <tr>
                <td><code>iconOnly</code></td>
                <td>Mengatur apakah isi dari tombol hanya icon atau tidak. Nilai: <code>true</code>, <code>false</code>.</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </wui-page>
</ng-template>