/* You can add global styles to this file, and also import other style files */

@use '../../../dist/@wajek/wui/scss/wui.scss';

.wui-sidenav {
    background-color: var(--wui-color-surface-container);
}

.brand {
    height: 4rem;
    
    &-label {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.125rem;
    }

    &-sub {
        font-size: .75rem;
    }
}

.logo {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: .5rem;
    background-color: var(--wui-color-primary);
}

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    column-gap: 1rem;

    li {
        padding-left: .75rem;

        &::marker {
            content: "/";
        }

        &:first-child {
            padding-left: 0;

            &::marker {
                content: "";
            }
        }
    }
}