@use 'sass:map';
@use '../abstracts' as a;

@mixin heading {
  @each $level, $properties in a.$wui-heading-typography {
    $scale: map.get(a.$wui-typography-scales, map.get($properties, 'role'), map.get($properties, 'size'));
    h#{$level} {
      font-size: map.get($scale, 'size');
      line-height: map.get($scale, 'line-height');
      letter-spacing: map.get($scale, 'letter-spacing');
      font-weight: map.get($scale, 'weight');
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: color-mix(in srgb, var(--wui-color-on-surface) 87%, transparent);
  }
}
