<form [formGroup]="formRegister" (submit)="submit()">
  <div class="wui-mb-4">
    <wui-radio-group [ngModel]="formVariant()" [ngModelOptions]="{standalone: true}" (ngModelChange)="onVariantChange($event)">
      <wui-radio-button [value]="'outlined'">Outlined</wui-radio-button>
      <wui-radio-button [value]="'filled'">Filled</wui-radio-button>
    </wui-radio-group>
  </div>

  <div class="wui-row wui-gap-col-4 wui-mb-4">
    <div class="wui-col-6">
      <wui-form-field [variant]="formVariant()">
        <label wuiLabel for="outlined_user_name">Nama Lengkap</label>
        <input wuiInput #userName="wuiInput" type="text" id="outlined_user_name" name="user_name" placeholder="Sesuai kartu identitas" formControlName="nmLengkap"/>
        <div wuiSuffix>
          <wui-icon icon="account-circle"></wui-icon>
        </div>
        <div wuiHint>Sesuai kartu identitas resmi Anda</div>
        @if(userName.firstError() == 'required') {
          <div wuiError>Harus diisi</div>
        }
        @if(userName.firstError() == 'backend') {
          <div wuiError>{{backendError['nmLengkap']}}</div>
        }
      </wui-form-field>
    </div>
    <div class="wui-col-6">
      <wui-form-field [variant]="formVariant()">
        <label wuiLabel for="outlined_user_email">Email</label>
        <input wuiInput #email="wuiInput" type="text" id="outlined_user_email" name="user_email" placeholder="Ex. john.doe@example.com" formControlName="email"/>
        <div wuiHint>Ex. john.doe@example.com</div>
        @if(email.firstError() == 'required') {
          <div wuiError>Harus diisi</div>
        }
        @if(email.firstError() == 'email') {
          <div wuiError>Format email tidak valid</div>
        }
      </wui-form-field>
    </div>
  </div>
  
  <div class="wui-row wui-gap-col-4 wui-mb-4">
    <div class="wui-col-6">
      <wui-form-field [variant]="formVariant()">
        <label wuiLabel for="outlined_user_pass">Password</label>
        <input wuiInput #password="wuiInput" [type]="showPassword() ? 'text' : 'password'" id="outlined_user_pass" name="user_pass" placeholder="Tulis password yang kuat" formControlName="password"/>
        <div wuiSuffix>
          <button wuiButton variant="text" iconOnly type="button" (click)="toggleShowPassword()">
            <wui-icon icon="{{showPassword() ? 'eye-off' : 'eye'}}"></wui-icon>
          </button>
        </div>
        <div wuiHint>Minimal 8 karakter, huruf besar dan kecil serta karakter spesial</div>
        @if(password.firstError() == 'required') {
          <div wuiError>Harus diisi</div>
        }
      </wui-form-field>
    </div>
    <div class="wui-col-6">
      <wui-form-field [variant]="formVariant()">
        <div wuiPrefix>
          <wui-icon icon="currency-usd"></wui-icon>
        </div>
        <label wuiLabel for="outlined_user_amount">Jumlah</label>
        <input wuiInput #jumlah="wuiInput" number type="number" id="outlined_user_amount" name="user_amount" placeholder="Donasi anda" formControlName="jumlah"/>
        <div wuiHint>Jumlah donasi anda melalui organisasi kami</div>
        @if(jumlah.firstError() == 'required') {
          <div wuiError>Harus diisi</div>
        }
      </wui-form-field>
    </div>
  </div>

  <div class="wui-row wui-gap-col-4 wui-align-items-start wui-mb-4">
    <div class="wui-col-12 wui-col-md-6">
      <wui-form-field [variant]="formVariant()" hint="20 opsi kota dengan nilai aktif di tengah ('Bekasi') dan satu opsi nonaktif.">
        <div wuiLabel>Kota</div>
        <wui-select wuiInput #kota="wuiInput" id="outline_user_kota" placeholder="Pilih kota" formControlName="kota">
          @for (kota of dataKota(); track kota.value) {
            <wui-option [value]="kota.value">{{ kota.label }}</wui-option>
          }
        </wui-select>
        <div wuiHint>Sesuai kartu identitas</div>
        @if(kota.firstError() == 'required') {
          <div wuiError>Harus diisi</div>
        }
      </wui-form-field>
    </div>

    <div class="wui-col-12 wui-col-md-6">
      <wui-form-field [variant]="formVariant()" hint="Field select dalam kondisi nonaktif (disabled).">
        <label wuiLabel>Negara (disabled)</label>
        <wui-select wuiInput #negara="wuiInput" placeholder="Pilih negara" formControlName="negara">
          @for (negara of dataNegara(); track negara.value) {
            <wui-option [value]="negara.value">{{ negara.label }}</wui-option>
          }
        </wui-select>
        <div wuiHint>Sesuai kartu identitas</div>
        @if(negara.firstError() == 'required') {
          <div wuiError>Harus diisi</div>
        }
      </wui-form-field>
    </div>
  </div>
  
  <wui-form-field [variant]="formVariant()" class="wui-mb-4">
    <label wuiLabel for="outlined_user_profile">Profil</label>
    <textarea wuiInput id="outlined_user_profile" name="user_profile" formControlName="profil"></textarea>
    <div wuiHint>Tuliskan catatan terkait</div>
  </wui-form-field>

  <wui-checkbox class="wui-mb-4" formControlName="agree">Saya menyetujui syarat dan ketentuan yang berlaku</wui-checkbox>

  <div class="wui-mb-4">
    <button wuiButton variant="filled" color="primary">Submit</button>
  </div>

  <div class="wui-border wui-radius-2 wui-p-4">
    <div class="wui-mb-3 wui-title-medium--em">Result:</div>
    {{userName.firstError()}}
    {{formValue() | json}}
  </div>
</form>