<ng-template #pageTpl>
    <wui-page>
        <div class="wui-page-content">
            <div class="wui-container wui-py-5">
                <h1 class="wui-mb-4">Snackbar</h1>

                <div class="wui-mb-4">
                    <p>Snackbar adalah sebuah pemberitahuan pendek dan instan yang biasanya digunakan sebagai penanda bahwa sebuah proses telah selesai</p>
                </div>

                <div class="wui-row wui-gap-4">
                    <button wuiButton class="wui-col-md-6" (click)="simple()">Simple Snackbar</button>
                    <button wuiButton class="wui-col-md-6" (click)="close()">Tutup Kapan Saja</button>
                </div>
            </div>
        </div>
    </wui-page>
</ng-template>