@use '../abstracts' as a;

@mixin edge-fix {

    @each $spacer-name, $spacer-value in a.$wui-spacers {
        .wui-edge-fix-#{$spacer-name} {
            width: calc(100% + (2 * #{$spacer-value}));
            margin-left: -#{$spacer-value};
            margin-right: -#{$spacer-value};
        }
    }

    @each $bp-name, $bp-value in a.$wui-breakpoints {
        @include a.media-up($bp-value) {
            @each $spacer-name, $spacer-value in a.$wui-spacers {
                .wui-edge-fix-#{$bp-name}-#{$spacer-name} {
                    width: calc(100% + (2 * #{$spacer-value}));
                    margin-left: -#{$spacer-value};
                    margin-right: -#{$spacer-value};
                }
            }
        }
    }

}