@use 'sass:map';
@use '../abstracts' as a;

@mixin gap {
    @each $gap-size, $value in a.$wui-spacers {
        .wui-gap-col-#{$gap-size} {
            column-gap: $value;
        }

        .wui-gap-row-#{$gap-size} {
            row-gap: $value;
        }
    }

    @each $name, $size in a.$wui-breakpoints {
        @include a.media-up($size) {
            @each $gap-size, $value in a.$wui-spacers {
                .wui-gap-col-#{$name}-#{$gap-size} {
                    column-gap: $value;
                }
            
                .wui-gap-row-#{$name}-#{$gap-size} {
                    row-gap: $value;
                }
            }
        }
    }
}
