<ng-template #pageTpl>
  <wui-page>
    <div class="wui-page-content">
        <div class="wui-container wui-py-5">
            <h1 class="wui-headline-medium--em wui-mb-4">Dialog</h1>
    
            <app-showcase [tabs]="[{
              code: '/examples/dialog-simple-example/dialog-simple.example.ts',
              label: 'dialog-simple.example.ts',
              language: 'typescript'
            },{
              code: '/examples/dialog-simple-example/dialog-simple.example.html',
              label: 'dialog-simple.example.html',
              language: 'html'
            }]">
                <dialog-simple-example></dialog-simple-example>
            </app-showcase>

            <app-showcase [tabs]="[{
              code: '/examples/dialog-system-example/dialog-system.example.ts',
              label: 'dialog-system.example.ts',
              language: 'typescript'
            },{
              code: '/examples/dialog-system-example/dialog-system.example.html',
              label: 'dialog-system.example.html',
              language: 'html'
            }]">
                <dialog-system-example></dialog-system-example>
            </app-showcase>
        </div>
    </div>
  </wui-page>
</ng-template>