@use '../abstracts' as a;

@mixin dialog {
    .wui-dialog {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--wui-color-surface);
        width: 100%;
        border-radius: 1.5rem;
        @include a.elevation(3);

        &-header {
            @include a.typography('headline', 'small');
        }

        &-buttons {
            display: flex;
            justify-content: end;
            column-gap: var(--wui-space-2);
        }

        &:has(.wui-dialog-content, .wui-dialog-footer, .wui-dialog-buttons) {
            .wui-dialog-header {
                margin-bottom: var(--wui-space-3);
            }
        }

        &:has(.wui-dialog-footer, .wui-dialog-buttons) {
            .wui-dialog-content {
                margin-bottom: var(--wui-space-4);
            }
        }
    }
}