@use '../abstracts' as a;

@mixin dialog {
    .wui-dialog {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--wui-color-surface);
        width: 100%;
        border-radius: 1.5rem;
        row-gap: var(--wui-space-3);
        @include a.elevation(3);

        &-header {
            @include a.typography('headline', 'small');
        }

        &-buttons {
            display: flex;
            justify-content: end;
            column-gap: var(--wui-space-2);
        }

        &-footer, &-buttons {
            padding-top: var(--wui-space-2);
        }
    }
}