@use '../abstracts' as a;

@mixin dialog {
    .wui-dialog {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--wui-color-surface);
        width: 100%;
        border-radius: 1.5rem;
        @include a.elevation(3);

        &-header {
            margin-bottom: 1rem;
            @include a.typography('headline', 'small');
        }

        &-content {
            margin-bottom: 1.5rem;
        }

        &-buttons {
            display: flex;
            justify-content: end;
            column-gap: var(--wui-space-3);
        }
    }
}