@mixin form-field {

    .wui-form-field {
        display: flex;
        flex-direction: column;
        position: relative;
        row-gap: .5rem;

        // modifier
        --wui-base-primary-color: var(--wui-color-primary);
        --wui-base-error-color: var(--wui-color-danger);

        // base variable
        --wui-base-label-color: var(--wui-color-on-surface-variant);
        --wui-base-input-color: var(--wui-color-on-surface-variant);
        --wui-base-border-color: var(--wui-color-outline);
        --wui-base-hint-color: var(--wui-color-on-surface-variant);
        --wui-base-prefix-suffix-color: var(--wui-color-on-surface-variant);

        // stateless variable
        --wui-outline-radius: .25rem;
        --wui-label-scale: .75;
        
        // stateful variable
        --wui-border-width: 1px;
        --wui-hint-display: block;
        --wui-error-display: none;
        --wui-label-color: var(--wui-base-label-color);
        --wui-input-color: var(--wui-base-input-color);
        --wui-border-color: var(--wui-base-border-color);
        --wui-hint-color: var(--wui-base-hint-color);
        --wui-prefix-suffix-color: var(--wui-base-prefix-suffix-color);

        // sedang menerima focus
        &:has(.wui-input:focus, .wui-input:focus-visible) {
            --wui-border-width: 2px;
            --wui-base-label-color: var(--wui-base-primary-color);
            --wui-base-border-color: var(--wui-base-primary-color);
        }

        // memiliki error
        &:has(.wui-input.wui-input--has-error) {
            --wui-hint-display: none;
            --wui-error-display: block;
            --wui-base-label-color: var(--wui-base-error-color);
            --wui-base-input-color: var(--wui-base-error-color);
            --wui-base-border-color: var(--wui-base-error-color);
            --wui-base-hint-color: var(--wui-base-error-color);
            --wui-base-prefix-suffix-color: var(--wui-base-error-color);
        }

        &:has(.wui-input--disabled) {
            pointer-events: none;
            --wui-label-color: color-mix(in srgb, var(--wui-base-label-color) 38%, transparent);
            --wui-input-color: color-mix(in srgb, var(--wui-base-input-color) 38%, transparent);;
            --wui-border-color: color-mix(in srgb, var(--wui-base-border-color) 12%, transparent);
            --wui-hint-color: color-mix(in srgb, var(--wui-base-hint-color) 38%, transparent);;
            --wui-prefix-suffix-color: color-mix(in srgb, var(--wui-base-prefix-suffix-color) 38%, transparent);
        }

        &-filled {
            .wui-form-field-stage {
                background-color: var(--wui-color-state-layer-on-surface-opacity-08);
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;

                &:has(.wui-input--disabled) {
                    background-color: color-mix(in srgb, var(--wui-color-on-surface) 4%, transparent);
                }

                input.wui-input, wui-select .wui-select--value, wui-select .wui-select--placeholder {
                    padding-top: 1.125rem;
                }

                textarea.wui-input {
                    padding-top: 1.625rem;
                }

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0; left: 0; right: 0;
                    height: 1px;
                    background-color: var(--wui-border-color);
                    z-index: 0;
                }

                &:after {
                    content: "";
                    opacity: 0;
                    position: absolute;
                    bottom: 0; left: 0; right: 0;
                    height: var(--wui-border-width);
                    background-color: var(--wui-border-color);
                    width: 0;
                    z-index: 1;
                    transform: translateX(50%);
                    transition: width 100ms linear, transform 100ms linear;
                    will-change: width, transform;
                }

                &:has(.wui-input:focus, .wui-input:focus-visible) {
                    &:after {
                        opacity: 1;
                        width: 100%;
                        transform: translateX(0);
                    }
                }

                &:has(.wui-input:focus, .wui-input:focus-visible, .wui-input--has-value, .wui-select--has-value) {
                    .wui-label {
                        top: .375rem; 
                        left: 1rem;
                        transform: scale(var(--wui-label-scale)) translateY(0);
                    }
                }
            }
        }

        &-outlined {
            .wui-form-field-stage {
                &:has(.wui-input:focus, .wui-input:focus-visible, .wui-input--has-value, .wui-select--has-value) {
                    .wui-label {
                        top: 0; 
                        left: 1rem;
                        transform: scale(var(--wui-label-scale)) translateY(-50%);
                    }
    
                    .wui-form-field-outline--notch {
                        &-inner {
                            border-top-style: none;
                        }
                    }
                }

                &:has(.wui-prefix) {
                    &:has(.wui-input:focus, .wui-input:focus-visible, .wui-input--has-value, .wui-select--has-value) {
                        .wui-label {
                            left: calc(1rem - var(--wui-prefix-width));
                        }
                    }
                }
            }
        }
    }
 
    .wui-form-field-stage {
        width: 100%;
        display: flex;
        height: 3.5rem;
        position: relative;

        &-main {
            flex: 1 1 auto;
            z-index: 2;
            position: relative;
        }

        textarea.wui-input {
            min-height: 3.5rem;
            padding-block: 1rem;
            resize: vertical;
            width: 100%;
        }

        &:has(textarea.wui-input) {
            height: auto;
            min-height: 3.5rem;

            .wui-label {
                top: 1.75rem;
            }
        }

        .wui-prefix {
            padding-inline-start: 1rem;
            color: var(--wui-prefix-color);

            > .wui-button:first-child {
                margin-inline-start: -.5rem;
            }
        }

        .wui-suffix {
            padding-inline-end: 1rem;
            color: var(--wui-suffix-color);

            > .wui-button:last-child {
                margin-inline-end: -.5rem;
            }
        }
    }

    .wui-form-field-outline--notch {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        display: flex;
        align-items: stretch;
        z-index: 0;

        &::before {
            content: "";
            display: block;
            width: calc(1rem - .25rem);
            border-top-left-radius: var(--wui-outline-radius);
            border-bottom-left-radius: var(--wui-outline-radius);
            border-style: solid;
            border-color: var(--wui-border-color);
            border-top-width: var(--wui-border-width);
            border-left-width: var(--wui-border-width);
            border-bottom-width: var(--wui-border-width);
            border-right-width: 0;
        }

        &::after {
            content: "";
            display: block;
            width: auto;
            flex: 1 1 auto;
            border-top-right-radius: var(--wui-outline-radius);
            border-bottom-right-radius: var(--wui-outline-radius);
            border-style: solid;
            border-color: var(--wui-border-color);
            border-top-width: var(--wui-border-width);
            border-right-width: var(--wui-border-width);
            border-bottom-width: var(--wui-border-width);
            border-left-width: 0;
        }

        &-inner {
            width: calc(var(--wui-label-width) * var(--wui-label-scale) + .5rem);
            border-style: solid;
            border-color: var(--wui-border-color);
            border-top-width: var(--wui-border-width);
            border-bottom-width: var(--wui-border-width);
            border-right-width: 0;
            border-left-width: 0;
        }
    }

    .wui-input {
        appearance: none;
        width: 100%;
        height: 100%;
        background: transparent;
        font-family: inherit;
        font-size: 1rem;
        border: none;
        outline: none;
        padding-inline: 1rem;
        z-index: 2;
        color: var(--wui-input-color);

        &::placeholder, .wui-select--placeholder {
            color: var(--wui-color-on-surface);
            opacity: 0;
        }

        &:focus, &:focus-visible {
            &::placeholder, .wui-select--placeholder {
                opacity: .54;
            }
        }
    }

    .wui-label {
        z-index: 1;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: top 100ms linear, transform 100ms linear, left 100ms linear;
        will-change: top, transform, left;
        transform-origin: left center;
        color: var(--wui-label-color);
        font-size: 1rem;
    }

    .wui-hint, .wui-error {
        font-size: .75rem;
        color: var(--wui-hint-color);
        padding-inline: 1rem;
    }

    .wui-hint {
        display: var(--wui-hint-display);
    }

    .wui-error {
        display: var(--wui-error-display);
    }

    .wui-prefix, .wui-suffix {
        display: flex;
        align-items: center;
        color: var(--wui-prefix-suffix-color);
        z-index: 2;
    }

}