@use '../abstracts' as a;

@mixin select {

    .wui-select {
        display: flex;
        align-items: center;
        position: relative;

        &--caret {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--wui-color-on-surface-variant);
            width: 1.5rem;
        }

        &--value {
            display: none;
        }

        &--placeholder {
            display: none;
        }

        &:not(.wui-input--has-value) {
            &:focus, &:focus-visible {
                .wui-select--placeholder {
                    display: inline-block;
                }
            }
        }

        &.wui-input--has-value {
            .wui-select--placeholder {
                display: none;
            }

            .wui-select--value {
                display: inline-block;
            }
        }

        &--panel {
            width: 100%;
            overflow-y: auto;
            background-color: var(--wui-color-surface);
            max-height: min(320px, 40vh);
            @include a.elevation(1);
            @include a.radius('all', 4);
            @include a.space(p, 1);
        }
    }

    .wui-option {
        width: 100%;
        padding-inline: var(--wui-space-3);
        height: 2.5rem;
        display: flex;
        align-items: center;
        @include a.radius('all', 3);

        &:hover, &--highlighted {
            background-color: var(--wui-color-state-layer-on-surface-opacity-08);
        }

        &--selected {
            background-color: var(--wui-color-state-layer-primary-opacity-16);
            color: var(--wui-color-primary);
        }
    }

}