
@use '../abstracts' as a;

@mixin tabs {
    
    .wui-tab {
        display: flex;
        height: 3rem;
        align-items: stretch;
        column-gap: a.spacing(4);

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--wui-color-on-surface-variant);
            text-decoration: none;
            position: relative;
            font-size: .875rem;
            font-weight: 500;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: var(--wui-color-on-surface-variant);
                display: block;
                opacity: 0;
                border-radius: 9999px;
            }

            &:hover {
                color: var(--wui-color-on-surface);

                &:after {
                    opacity: .38;
                    background-color: var(--wui-color-on-surface);
                }
            }

            &.active {
                color: var(--wui-color-primary);

                &:after {
                    opacity: 1;
                    background-color: var(--wui-color-primary);
                }
            }

        }
    }

    button.wui-tab-item {
        appearance: none;
        border: none;
        background: none;
        padding-inline: 0;
    }

}