<ng-template #page>
    <wui-page>
        <wui-topbar>
            Page Topbar
        </wui-topbar>

        <wui-sidenav id="home-sidenav">
            <div class="wui-sidenav-mini-content">
                <p>Mini</p>
            </div>

            <div class="wui-sidenav-full-content">
                <p>Full Sidenav</p>
            </div>
        </wui-sidenav>

        <div class="wui-page-content">
            <h2>Halaman Demo</h2>

            <button wuiButton variant="filled" color="danger" routerLink="nested" class="wui-me-2">
                <wui-icon icon="home"></wui-icon>
                Open Nested
            </button>
            <button wuiButton variant="outlined" size="sm" routerLink="/tipografi" class="wui-me-2">
                <wui-icon icon="home"></wui-icon>
                Demo Tipografi (Display)
            </button>
            <button wuiButton variant="text" size="md" routerLink="/button" class="wui-me-2">
                <wui-icon icon="home"></wui-icon>
                Demo Button (M3)
            </button>
            <button wuiButton variant="outlined" size="lg" (click)="toggleSidenav()" class="wui-me-2">
                <wui-icon icon="home"></wui-icon>
                Toggle Sidenav
            </button>
            <button wuiButton variant="outlined" size="xl" (click)="toggleSidenavMini()">
                <wui-icon icon="home"></wui-icon>
                Toggle Sidenav Mini
            </button>

            <wui-icon icon="home"></wui-icon>
            
            <div id="lipsum">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus porta sem, non dictum diam
                    rhoncus in. Etiam enim tortor, malesuada eu ipsum sed, feugiat dictum lorem. Curabitur non lectus
                    ultrices, tincidunt diam vel, accumsan leo. Nulla dictum in tellus at consequat. Curabitur sollicitudin
                    lectus eget velit convallis molestie. Maecenas vitae porttitor ipsum, convallis porta turpis. Integer
                    aliquet nulla eu nisl vehicula, dignissim mollis ante consectetur. Sed convallis mi a orci iaculis, ac
                    mollis erat interdum. Morbi viverra justo ac magna molestie, vel condimentum nunc vulputate. Mauris a
                    dolor in sapien ultricies sollicitudin. In ipsum ante, elementum ac nibh nec, congue tristique lectus.
                </p>
                <p>
                    Pellentesque sollicitudin viverra elit, et viverra lacus viverra vel. Proin luctus accumsan odio, nec
                    consectetur odio auctor non. Duis ullamcorper eros ut rutrum pharetra. Nam tempus semper tortor
                    tincidunt dictum. Aenean vitae leo lacus. Nunc laoreet mattis dui. Ut vel ex ac dui laoreet accumsan a
                    ac leo. Suspendisse sodales metus tellus, ac cursus diam dignissim non. Suspendisse in neque eu tortor
                    porta consequat et eu elit. Curabitur sit amet lorem id nisi volutpat imperdiet a non turpis. Aliquam
                    blandit ac nulla id lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos. Quisque tempor mollis fringilla. Maecenas ultricies auctor metus sed consequat.
                </p>
                <p>
                    In at volutpat diam. Suspendisse iaculis neque ac cursus volutpat. Vivamus pretium sed erat a vehicula.
                    Aenean ipsum magna, lobortis vel ante id, venenatis mollis sapien. Pellentesque euismod molestie
                    dapibus. Proin tempor lobortis quam a pellentesque. In venenatis consectetur diam vitae malesuada.
                    Curabitur diam eros, convallis vitae nisi vel, lobortis congue erat. Integer laoreet turpis vel purus
                    molestie, ut gravida risus pretium. Duis fringilla magna a commodo feugiat. Aliquam a lacinia sapien, ut
                    ornare orci. Maecenas at blandit leo.
                </p>
                <p>
                    Sed ac egestas arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus nec lacinia
                    mi. Sed sit amet ultrices erat, non scelerisque augue. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Praesent vitae orci eu metus pulvinar cursus. Vestibulum aliquam felis laoreet laoreet
                    gravida. Integer a dictum neque, eu cursus sem. Sed sed sem neque. Integer vel congue magna, non viverra
                    leo. In nec ante laoreet, iaculis risus eu, tempus mi. Cras non justo eu leo bibendum tincidunt id vitae
                    magna. Pellentesque lacinia tortor et ipsum consectetur porttitor.
                </p>
                <p>
                    Vestibulum sed orci eu quam sagittis maximus. Duis sagittis mauris nisi, non aliquet est commodo et.
                    Nullam dapibus maximus purus eu consectetur. Cras nisl sapien, viverra in nisl eu, consequat dictum
                    neque. Nunc eget risus et ex tristique tincidunt. Maecenas et enim et nibh laoreet porta vitae sit amet
                    mauris. Morbi ultrices placerat tellus, quis viverra felis rutrum vitae.
                </p>
                <p>
                    Phasellus interdum lorem a porta venenatis. Duis egestas dictum tristique. Mauris pellentesque, quam a
                    hendrerit viverra, augue libero volutpat enim, quis tristique orci lorem in orci. In congue sapien sit
                    amet massa volutpat pulvinar. Proin venenatis eu ipsum a porttitor. Quisque fringilla placerat felis sed
                    placerat. Maecenas sollicitudin dictum mollis. Vestibulum ullamcorper massa ac feugiat fringilla. Donec
                    mauris lorem, facilisis nec auctor ac, congue ac dolor.
                </p>
                <p>
                    Donec sed pretium est. Vestibulum blandit orci eu massa efficitur maximus. Phasellus ipsum massa,
                    pulvinar at eleifend vel, fringilla non odio. Sed eget orci quam. Suspendisse lobortis vestibulum
                    tortor, ac volutpat tellus fermentum ut. Proin auctor feugiat quam ut egestas. Ut volutpat eros est.
                    Duis ut sodales risus. Proin eu pharetra leo. Vestibulum imperdiet vel dui eget fermentum.
                </p>
                <p>
                    Curabitur quam justo, commodo et auctor lacinia, dapibus vitae tellus. Pellentesque varius ligula sed
                    molestie facilisis. Vestibulum congue convallis rhoncus. Integer nec feugiat sapien. Praesent tempus
                    varius rhoncus. Sed ut lacus nibh. Suspendisse imperdiet eu ex nec mollis. Suspendisse dapibus purus
                    enim. Curabitur quis risus ultricies, efficitur dolor ut, vulputate ante. Mauris efficitur, dui vel
                    placerat facilisis, nulla enim vulputate mauris, at laoreet dolor risus at diam. Vestibulum ornare sed
                    risus at condimentum. Cras eros metus, volutpat ullamcorper ante id, pretium cursus ante.
                </p>
                <p>
                    Quisque vehicula dui ante, et dignissim libero posuere et. Fusce hendrerit purus nec risus placerat
                    porta. Etiam in lectus nisi. Nullam a elementum sem. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Duis iaculis ornare bibendum. Nullam et mi id nulla tempor
                    feugiat hendrerit ut arcu. Etiam efficitur vel arcu eget pharetra. Nunc in erat neque. Proin imperdiet
                    felis massa, eget ultricies sem ultrices ac. Phasellus mi eros, tempor ac auctor in, finibus hendrerit
                    risus. Donec a nibh in urna hendrerit dapibus fringilla nec erat. Nullam quis quam eu magna consequat
                    dapibus.
                </p>
                <p>
                    Mauris venenatis ac leo sed tempus. Sed dignissim ante magna, eget condimentum neque dapibus ac. Morbi
                    faucibus mattis purus in tristique. Praesent at elit in risus interdum ornare ut et quam. Suspendisse
                    fringilla, nisl venenatis mattis aliquam, felis sem dapibus neque, sit amet vehicula justo ipsum vitae
                    turpis. Proin sed bibendum neque. Nunc et ligula vehicula, dictum velit ut, tempus felis. Vestibulum
                    venenatis at arcu eget dignissim. Morbi ultrices tincidunt elit tempus accumsan. Proin velit metus,
                    vulputate eget euismod vel, semper ac massa.
                </p>

                <p>
                    Quisque vehicula dui ante, et dignissim libero posuere et. Fusce hendrerit purus nec risus placerat
                    porta. Etiam in lectus nisi. Nullam a elementum sem. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Duis iaculis ornare bibendum. Nullam et mi id nulla tempor
                    feugiat hendrerit ut arcu. Etiam efficitur vel arcu eget pharetra. Nunc in erat neque. Proin imperdiet
                    felis massa, eget ultricies sem ultrices ac. Phasellus mi eros, tempor ac auctor in, finibus hendrerit
                    risus. Donec a nibh in urna hendrerit dapibus fringilla nec erat. Nullam quis quam eu magna consequat
                    dapibus.
                </p>
                <p>
                    Mauris venenatis ac leo sed tempus. Sed dignissim ante magna, eget condimentum neque dapibus ac. Morbi
                    faucibus mattis purus in tristique. Praesent at elit in risus interdum ornare ut et quam. Suspendisse
                    fringilla, nisl venenatis mattis aliquam, felis sem dapibus neque, sit amet vehicula justo ipsum vitae
                    turpis. Proin sed bibendum neque. Nunc et ligula vehicula, dictum velit ut, tempus felis. Vestibulum
                    venenatis at arcu eget dignissim. Morbi ultrices tincidunt elit tempus accumsan. Proin velit metus,
                    vulputate eget euismod vel, semper ac massa.
                </p>

                <p>
                    Quisque vehicula dui ante, et dignissim libero posuere et. Fusce hendrerit purus nec risus placerat
                    porta. Etiam in lectus nisi. Nullam a elementum sem. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Duis iaculis ornare bibendum. Nullam et mi id nulla tempor
                    feugiat hendrerit ut arcu. Etiam efficitur vel arcu eget pharetra. Nunc in erat neque. Proin imperdiet
                    felis massa, eget ultricies sem ultrices ac. Phasellus mi eros, tempor ac auctor in, finibus hendrerit
                    risus. Donec a nibh in urna hendrerit dapibus fringilla nec erat. Nullam quis quam eu magna consequat
                    dapibus.
                </p>
                <p>
                    Mauris venenatis ac leo sed tempus. Sed dignissim ante magna, eget condimentum neque dapibus ac. Morbi
                    faucibus mattis purus in tristique. Praesent at elit in risus interdum ornare ut et quam. Suspendisse
                    fringilla, nisl venenatis mattis aliquam, felis sem dapibus neque, sit amet vehicula justo ipsum vitae
                    turpis. Proin sed bibendum neque. Nunc et ligula vehicula, dictum velit ut, tempus felis. Vestibulum
                    venenatis at arcu eget dignissim. Morbi ultrices tincidunt elit tempus accumsan. Proin velit metus,
                    vulputate eget euismod vel, semper ac massa.
                </p>
            </div>
        </div>        
    </wui-page>
</ng-template>

<router-outlet/>